flask==3.0.2
python-dotenv==1.0.0
langchain==1.2.3
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.7
langchain-groq==1.1.1
langchain-text-splitters==1.1.0
faiss-cpu==1.7.4
torch==2.1.0
sentence-transformers==2.2.2
transformers==4.35.0
numpy<2
pypdf
